# Virtual environments
venv/
.venv/
env/
venv 1/
venv 2/

# Python cache
__pycache__/
*.pyc

# VS Code settings
.vscode/

# OS files
.DS_Store

# database
*.db
venv 1/
venv 2/

__pycache__/
*.pyc
.venv/

venv/
.venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

node_modules/
Frontend/node_modules/

*.sqlite
*.db
*.db
